.sticky-popup-notification{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    opacity: 0;
    padding: 6px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    font-size: 11px;
}

.sticky-control-link{
    cursor: pointer;
}

.themeshark-sticky-control.disabled{
    background-color: #e6e9ec;
}
.themeshark-sticky-control.disabled .elementor-control-responsive-switchers{
    opacity: .5;
    pointer-events: none;
}

.themeshark-sticky-control.disabled .elementor-control-input-wrapper{
    pointer-events: none;
}



.elementor-repeater-row-item-title.themeshark-invalid-value{
    background-color:#FFE1E1!important;
}